body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./snowmanImages/snowy.jpeg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  font-size: 4vw;
}
h2 {
  color: whitesmoke;
}
button {
  font-size: 2vw;
  border-radius: 5px;
  cursor: pointer;
}
img {
  height: 40vw;
  width: 40vh;
}
ul {
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.letterBoard {
  display: flex;
  justify-content: center;
  align-items: center;
}
button:disabled {
  /* opacity: 0; */
  color: #ccc;
  cursor: not-allowed;
}

/* // poosible for letters to wrap */
/* ul {
  width: 300px;
  height: 15px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
  padding: 0;
}

.Alphabet {
  width: 650px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px auto;
} */
