body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  font-size: 4vw;
}

button {
  font-size: 2vw;
  border-radius: 5px;
}
img {
  height: 40vw;
  width: 40vh;
}
ul {
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.letterBoard {
  display: flex;
  justify-content: center;
  align-items: center;
}
